html, body {
    background-image: url("../image/mode_claire/one_piece_boat\(1\).jpg");
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;

}
