@media (max-width: 1024px) {
    header h1 {
        font-size: 2rem;
    }
    nav ol {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
    main p {
        padding: 15px;
        line-height: 1.5;
    }
    button#themeselector {
        width: 100%;
        padding: 12px;
    }
    nav ol {
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    nav li {
        margin: 5px 0;
    }

}


/* Cacher la checkbox */
#menu-toggle {
    display: none;
}

/* Hamburger (3 traits) */
.hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hamburger span {
    display: block;
    height: 4px;
    background: #000;
    margin: 4px 0;
    border-radius: 2px;
}

/* Menu caché */
.menu {
    position: fixed;
    top: 60px;
    right: 20px;
    background: #222;
    padding: 10px;
    border-radius: 6px;
    display: none; /* CACHÉ AU DÉPART */
    flex-direction: column;
    z-index: 9998;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu a:hover {
    background: #444;
}

/* Afficher le menu quand la checkbox est cochée */
#menu-toggle:checked + .hamburger + .menu {
    display: flex;
}




