
main {
    max-width: 1200px;
    margin: auto;
    padding: 1em;
}

h1 {
   text-align: center;
   font-family: 'Inter', sans-serif;
   font-size: 100px;
   font-weight: 900;
   color: #ffffff;
}

.textGomu, .textOpe, .textBeta {
   font-size: 24px;
   font-family: 'Inter', sans-serif;
   display: block;
   margin-top: 15px;
   font-weight: 300;
   color: #ffffff;
}

a {
    text-decoration: none;
}

a:visited {
    color: #ffffff; 
    text-decoration: none;
}

ol {
    list-style-type: none; 
    padding-left: 0;
    display: flex;
    justify-content: center; 
    gap: 120px;
    flex-wrap: wrap;
    margin-bottom: 50px;         
}

ol li {
   
    margin: 20px;
    max-width: 250px;
    text-align: center;
}

ol li img {

    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

ol li a {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-decoration: none;
    color:black; 
    height: 100%;
    width: 100%;
}

ol li span {
    font-size: 1.2rem;
    margin-top: 15px;
}


ol li:hover img {
    
    transform: scale(1.2); 
}

.parchemin {
    position: relative; 
    max-width: 1000px;
    margin: 40px auto;
}

.papier {
    width: 100%; 
    height: auto; 
    display: block;
}

.Description {
    position: absolute; 
    top: -7%;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center; 
    align-items: center;    
    

    font-family: 'Dancing Script', 'Reenie Beanie', cursive; 
    font-size: 26px; 
    line-height: 1.4;
    color: #1a1a1a;
    
    padding: 20px 60px; 
    box-sizing: border-box;
    text-align: center; 
}
    
footer {

    font-size: 40px; 
    font-family: 'Inter';
    color: #ffffff;
    padding: 20px;
}

.Retour {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.3s;
}

.Retour:hover {
    opacity: 1;
    padding-left: 10px;
}