
main {
    max-width: 1400px;
    margin: auto;
    padding: 30px;
}

h1 {
   text-align: center;
   font-family: 'Inter', sans-serif;
   font-size: 100px;
}

.textGomu {
   font-size: 30px;
   font-family: 'Inter', sans-serif;
}

.textOpe {
   font-size: 30px;
   font-family: 'Inter', sans-serif;
}

.textBeta {
   font-size: 30px;
   font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: #000000; 
    text-decoration: none;
}

ol {
    list-style-type: none; 
    padding-left: 0;

    display: flex;
    justify-content: center; 
    gap: 120px;
    flex-wrap: wrap;         
}

ol li {
   
    margin: 40px;
    max-width: 250px;
}

ol li img {

    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

ol li a {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-decoration: none;
    color:black; 
    height: 100%;
    width: 100%;
}

ol li span {
    font-size: 1.2rem;
    margin-top: 15px;
}


ol li:hover img {
    
    transform: scale(1.2); 
}

p {
    margin-bottom: 200px ;
    font-size: 15px;
    font-family: 'Inter';

}

footer {

    margin-top: 10px;
    font-size: 40px; 
}