html, body {
    background-image: url("../image/mode_sombre/one_piece_boat_dark\(1\).jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100%;

}


h1 {
    color: #ffcc00;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-size: 3rem;
}

p.Description, p {
    color: #e0e0e0;
    text-align: center;
    font-size: x-large;
}


.text, .text, .text {
    color: #ffcc00;
    font-weight: bold;
}

/* Hamburger en mode clair */
.hamburger span {
    display: block;
    height: 4px;
    background: #e9e8e8;  /* Gris clair pour le hamburger */
    margin: 4px 0;
    border-radius: 2px;
}

/* Hamburger en mode sombre */
body.dark-theme .hamburger span {
    background: #fff;  /* Blanc pour le hamburger en mode sombre */
}
