.zoan-title {
  text-align: center;
}


body {
  background-image: url("https://images6.alphacoders.com/911/thumb-1920-911401.jpg");
  background-size: cover;     
  background-repeat: no-repeat;
  background-position: center;
}